@font-face {
  font-family: "Mangueira Alt Medium";
  src: url("./static/fonts/MangueiraAlt-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Mangueira Alt Semi Bold";
  src: url("./static/fonts/MangueiraAlt-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Mangueira Alt Regular";
  src: url("./static/fonts/Mangueira-Regular.woff2") format("woff2");
}

@keyframes loadingAnimation {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -250px;
    opacity: 0;
  }
}
@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  animation: loadingFade 0.65s ease-in-out;
  transition: ease-in-out 0.5s;
}

body {
  font-family: "Mangueira Alt Medium";
  background: #070510;
}
h1::selection {
  background-color: rgba(255, 255, 255, 0.137);
}
h1 {
  font-family: "Mangueira Alt Semi Bold";
}
h3 {
  font-family: "Mangueira Alt Medium";
}

.loading-up {
  animation: loadingAnimation 0.35s ease-in-out;
}

.gradient {
  background: rgb(255, 139, 51);
  background: linear-gradient(
    208deg,
    rgba(255, 139, 51, 1) 0%,
    rgba(222, 83, 83, 1) 25%,
    rgba(178, 77, 138, 1) 50%,
    rgba(105, 77, 229, 1) 75%,
    rgba(65, 231, 231, 1) 100%
  );
}
.text {
  background-image: url("./static/images/flowbot_text.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
  border-radius: 24px;
}
.music {
  background-image: linear-gradient(
    225deg,
    rgba(255, 139, 51, 1) -40%,
    rgba(222, 83, 83, 1) 25%,
    rgba(178, 77, 138, 1) 50%,
    rgba(105, 77, 229, 1) 75%,
    rgba(65, 231, 231, 1) 140%
  );
  background-size: 100% 50px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.music::selection {
  background: rgba(255, 255, 255, 0.137);
}
